<!DOCTYPE html>
<html>
<head>
	<title>Laropa</title>
	<link rel="shortcut icon" href='/assets/favicon.ico'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%=html_import_tag "application"%>
	<%=javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%=csrf_meta_tags %>
</head>
<body class="fullbleed layout vertical">
	<paper-header-panel mode="standard" headermargin="128" main >
		<paper-toolbar id="outside_core_toolbar" class='system_color_background' style='background: #00ad99;'>
			<paper-icon-button id="navicon" icon="menu"></paper-icon-button> 
			<span title style='font-family:Roboto; font-weight:100'>
				Laropa
			</span>
			<paper-icon-button id='help' icon='help' style='position: absolute; right: 0; margin-top: 10px;'></paper-icon-button>
		</paper-toolbar>
		<div vertical layout>
			<%= yield %>
		</div>
	</paper-header-panel>
</body>
</html>
